nav{
    background-color: #9e75b6;
    margin-bottom: 2em;
    color: white;
    

}

nav ul {
    list-style: none;
    margin: 0;
    padding: 10;
    


}

nav ul li{
    display: inline-block;
    width: 20%;
}

nav ul li a{
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 0.2em 0.4em;
    display: block;
    position: relative;
}
nav ul li a:hover {
    /*background: red;*/
}
nav ul li a.activo {
    background: black;
}

